services:
  - type: web
    name: agrishield-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 5000
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        fromSecret: JWT_SECRET
      - key: FIREBASE_KEY
        fromSecret: FIREBASE_KEY
      - key: FIREBASE_API_KEY
        fromSecret: FIREBASE_API_KEY
